<!DOCTYPE html>
<html ng-app='myApp' ng-controller='myCtrl'>
<head>
  <title>MetaCoin - Default Truffle App</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="./app.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="./bootstrap.css">
</head>
<body>
  <div style='display:table; max-height:330px; overflow:scroll;'>
  <table style="width: auto;" class="table  table-striped  table-condensed" border=1>
    <tr>
      <th>Account</th>
    </tr>
    <tr ng-repeat="account in accounts">
      <td>{{account}}</td>
    </tr>
  </table>
</div>

  Account to fund from:
  <select ng-options="account for account in accounts" ng-model="account"></select>
  <label for="amount">Amount to fund:</label><input type="text" id="amount" ng-model="amount" placeholder="e.g., 95"></input>

  <div style='display:table; max-height:330px; overflow:scroll;'>
  <table style="width: auto;" class="table  table-striped  table-condensed" border=1>
    <tr>
      <th>Owner</th>
      <th>Target</th>
      <th>Deadline</th>
      <th>Project</th>
      <th>Balance</th>
      <th></th>
    </tr>
    <tr ng-repeat="project in projs">
      <td>{{project[0]}}</td>
      <td>{{project[1]}}</td>
      <td>{{project[2]}}</td>
      <td>{{project[3]}}</td>
      <td>{{project[4]}}</td>
      <td><button id="fundProj" ng-click="fundProject(project[3])">Fund Project</button></td>
    </tr>
  </table>
</div>

<div>
 <button type="button" class="btn btn-default" ng-click="createProject()">Create a project</button>
</div>

</body>
</html>
